{% extends 'port/base.html' %}
{% load staticfiles %}

{% block content %}


<div id="about">

  <div class="center-align" style="padding-top:40px">
    <h3>About</h3>
  </div>

  <div class="row" style="padding-top:20px">
    <div class="col m2">
    </div>
    <div class="col m4">
      <p style="font-size:140%;">This is my portfolio, and probably a potential personal website.</p>
      <p style="font-size:140%;">Technology implemented: Django, HTML, CSS, Javascript and Materialize.</p>
    </div>
    <div class="col m4">
      <p style="font-size:140%;">I enjoy developing web applications, especially back end.</p>
      <p style="font-size:140%;">My recent work can be found at: <a href="https://github.com/WJDD" target="_blank"tw>https://github.com/WJDD</a>
    </div>
    <div class="col m2">
    </div>
  </div>



</div>



{% endblock content %}
