{% load staticfiles %}

<html>
  <head>
  <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css using the same CDN as index.html-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <header>
      <div class="navbar-fixed">
        <nav>
        <div class="nav-wrapper grey darken-2">
          <div class="container">
            <a href="{% url 'home' %}" class="brand-logo"><font face="STKaiti">朱文憬</font></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{% url 'home' %}">Myself</a></li>
              <li><a href="{% url 'skill' %}"><span class="blue-text text-lighten-1">Skill</span></a></li>
              <li><a href="{% url 'p&e' %}"><span class="teal-text text-accent-3">Project & Experience</span></a></li>
            </ul>
          </div>
        </div>
        </nav>
      </div>
    </header>
  <main>
    <ul id="slide-out" class="side-nav">
      <li>
        <div class="user-view grey darken-3" style="padding-top:20px; width:100%">
        <p href="" style="height:auto;" class="center-align"><img class="circle responsive-img" img src="{% static "image/Me.jpg" %}" alt="My image" style="height:150px;"/></p>
        <p href="" class="center-align"><span class="white-text name">Wenjing Zhu</span></p>
        <p href="" class="center-align"><span class="white-text email">475317147z@gmail.com</span></p>
        </div>
      </li>
      <li><a href="{% url 'home' %}"><i class="material-icons">home</i>Home Page</a></li>
      <li><a href=""><i class="material-icons">info</i>About</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
  <div class="fixed-action-btn">
    <a data-activates="slide-out" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">menu</i></a>
  </div>

          {% block content %}
          {% endblock %}

  </main>



  <footer>

  </footer>
  
</body>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script>

$('.btn-floating').sideNav({
    menuWidth: 300, // Default is 300
    edge: 'left', // Choose the horizontal origin
    closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
    draggable: true, // Choose whether you can drag to open on touch screens,
    onOpen: function(el) { /* Do Stuff*/ }, // A function to be called when sideNav is opened
    onClose: function(el) { /* Do Stuff*/ }, // A function to be called when sideNav is closed
  }
);

</script>
</html>
