{% extends 'port/base.html' %}
{% load staticfiles %}

{% block content %}



<div>
  <div class="row">
    <div class="col s5";>
      <p style="padding-top:200px;"></p>
      <p href="" style="height:auto;" class="center-align"><img class="responsive-img" img src="{% static "image/Me.png" %}" alt="Me" style="height:200px;"/></p>
    </div>

    <div class="col s7";>
      <div class="col s1">
      </div>
      <div class="col s6">
        <p style="padding-top:50px; font-size:140%;">My name is Wenjing Zhu, I am a new grad from Dalhousie University</p>

      </div>
    </div>

</div>


{% endblock content %}
