{% extends 'port/base.html' %}
{% load staticfiles %}

{% block content %}

<div id="home" class="" style="height: 100%" >

  <div class="center-align" style="padding-top:40px">
    <h3>Wenjing Zhu</h3>
  </div>

  <div class="center-align">
    <p style="font-size:120%; padding-bottom:40px">Software Developer • Bachelor of Computer Science • New Grad</p>
  </div>

  <div class="parallax-container" style="height: 100%; padding-top:200px">
      <div class="parallax"><img src="{% static "image/Background2.jpg" %}"></div>
  </div>

</div>

<div id="technology" class="blue lighten-2" style="height: 100%";>
  <div class="row">
  </div>
</div>

<div id="p&e" class="orange lighten-2" style="height: 100%";>
</div>


{% endblock content %}
