{% extends 'port/base.html' %}
{% load staticfiles %}

{% block content %}


<div id="home" class="" style="height: 100%" >

  <div class="center-align" style="padding-top:40px">
    <h3>Wenjing Zhu</h3>
  </div>

  <div class="center-align">
    <p style="font-size:120%; padding-bottom:40px">Bachelor of Computer Science • New Grad</p>
  </div>

  <div class="parallax-container" style="height: 71%;">
      <div class="parallax"><img src="{% static "image/Background2.jpg" %}"></div>
  </div>

</div>

<div id="technology" class="" style="height: 120%";>
  <div class="container center-align" style="padding-top:40px;">
    <div class="row">
        <div class="col s6 m4">
          <div class="card">
            <div class="card-content">
              <h5>Java, C, Python</h5>
            </div>
            <div class="card-action grey lighten-2">
              <p><span class="blue-text text-darken-1">Programming Languages</p>
            </div>
          </div>
        </div>
        <div class="col s6 m4">
          <div class="card">
            <div class="card-content">
              <h5>HTML, CSS, Javascript</h5>
            </div>
            <div class="card-action grey lighten-2">
              <p><span class="blue-text text-darken-1">Web</p>
            </div>
          </div>
        </div>

      <div class="col s6 m4">
        <div class="card">
          <div class="card-content">
            <h5>SQL(MySQL)</h5>
          </div>
          <div class="card-action grey lighten-2">
            <p><span class="blue-text text-darken-1">Database</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col s6 m4">
          <div class="card">
            <div class="card-content">
              <h5>Django</h5>
            </div>
            <div class="card-action grey lighten-2">
              <p><span class="blue-text text-darken-1">Web Framework</p>
            </div>
          </div>
        </div>
        <div class="col s6 m4">
          <div class="card">
            <div class="card-content">
              <h5>Android Studio</h5>
            </div>
            <div class="card-action grey lighten-2">
              <p><span class="blue-text text-darken-1">Mobile</p>
            </div>
          </div>
        </div>

      <div class="col s6 m4">
        <div class="card">
          <div class="card-content">
            <h5>Git, SVN</h5>
          </div>
          <div class="card-action grey lighten-2">
            <p><span class="blue-text text-darken-1">Version Control</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col s6 m4">
          <div class="card">
            <div class="card-content">
              <h5>Windows, Mac OS, Linux</h5>
            </div>
            <div class="card-action grey lighten-2">
              <p><span class="blue-text text-darken-1">Operating System</p>
            </div>
          </div>
        </div>
        <div class="col s6 m4">
          <div class="card">
            <div class="card-content">
              <h5>C#, Ruby</h5>
            </div>
            <div class="card-action grey lighten-2">
              <p><span class="blue-text text-darken-1">Familiar</p>
            </div>
          </div>
        </div>

      <div class="col s6 m4">
        <div class="card">
          <div class="card-content">
            <h5>.NET, PHP, Angular</h5>
          </div>
          <div class="card-action grey lighten-2">
            <p><span class="blue-text text-darken-1">Interest</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-container" style="height: 20%;">
      <div class="parallax"><img src="{% static "image/smallBackground.jpg" %}"></div>
  </div>
</div>


<div id="p&e" class="" style="height: 100%";>


  <div class="row" style="padding-top:100px;">

    <div class="col s2 m1">
    </div>

    <div class="col s12 m5">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="{% static "image/CRWA.png" %}">
        </div>
        <div class="card-content">
          <span class="card-title green-text text-darken-1">Course Review Web Application</span>
          <p>-  Course Review Web Application is a web site for college students to rate, comment and seek information about courses and instructors</p>
          <p>-  We used Django and Python to implement the back-end system; Using HTML, CSS and Javascript for the front end interface; Using SQLite as the database and Git as version control</p>
          <p>-  The About page of this website has url links to the source code of this project
        </div>
      </div>

    </div>

    <div class="col s12 m5">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="{% static "image/Interns.jpg" %}">
        </div>
        <div class="card-content" style="padding-top:36px;">
          <span class="card-title green-text text-darken-1">Software Developer Intern</span>
          <p>-  At Sandbox Network Technology Limited</p>
          <p>-  From July 2016 - Sep 2016</p>
          <p>-  Worked with the app developer team in developing an Android app platform for Minecraft</p>
          <p>-  Resolved bugs, fixed bugs and provided help with other user interface tasks</p>
          <p>-  Reference upon request</p>
        </div>
      </div>

    </div>
  </div>

</div>


{% endblock content %}
